<div class="alert alert-warning" role="alert">
  This is a prototype. Incorrect data and missing features should be expected.
</div>

<h1 class="text-center">{{thisSite.meta.siteName}}</h1>

<p class="small text-center">Last 60 minutes</p>

<br />

<div class="btn-group btn-group-justified" role="group" aria-label="Select view">
  <a type="button" class="btn btn-default {{#if (eq thisSite.activeTab "overview")}}active{{/if}}" href="overview">Overview</a>
  <a type="button" class="btn btn-default {{#if (eq thisSite.activeTab "log-viewer")}}active{{/if}}" href="log-viewer">Log viewer</a>
  <a type="button" class="btn btn-default {{#if (eq thisSite.activeTab "settings")}}active{{/if}}" href="settings">Settings</a>
</div>

<br />
