<!-- <h1 class="text-center">Traffic Manager Hub</h1> -->

{{#if allSites}}
<div class="panel panel-success">
  <div class="panel-heading">
   <h3 class="panel-title">Status summary</h3>
 </div>
  <div class="panel-body">
    <p>No alerts in the last 7 days.</p>
  </div>
</div>
{{/if}}

{{#unless allSites}}
<div class="text-center">
  <p>There are no sites in this Traffic Manager Hub instance.</p>
  <br />
  <p><a class="btn btn-primary" href="/add-site">Create a new site now</a></p>
</div>
{{/unless}}


<!-- <h2>All sites</h2> -->
{{#each allSites}}

  <h2>
    <a href="/site/{{this.siteKey}}">
      {{this.siteName}}
    </a>
  </h2>

  <div class="row">
    <div class="col-sm-4">
      <div class="tm-statistic red">
        <p class="heading">Requests</p>
        <p class="score">45000</p>
        <p class="avg">Frame avg: 3000/min</p>
        <p class="avg">24h avg: 4300/min</p>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="tm-statistic green">
        <p class="heading">Blocked requests</p>
        <p class="score">180</p>
        <p class="avg">Frame avg: 12/min</p>
        <p class="avg">24h avg: 6/min</p>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="tm-statistic yellow">
        <p class="heading">IP Hops</p>
        <p class="score">150</p>
        <p class="avg">Frame avg: 10/min</p>
        <p class="avg">24h avg: 6/min</p>
      </div>
    </div>

  </div>

{{/each}}
