<div class="container" style="max-width:800px">

<h1>Log in</h1>


<label>
  Email
  <input type="email" name="email" value="" />
</label>

<br />

<label>
  Password
  <input type="password" name="password" value="" />
</label>

<br />

<input type="submit" value="Log in" />

</div>
