{{> site/header}}

<p>Throttling alert level: <input type="text" value="700" /></p>
<p>Throttling block level: <input type="text" value="1000" /></p>
<p>Blocked IPs: <input type="text" /></p>
<p>Whitelisted IPs: <input type="text" /></p>

<p>Monitoring frame: <input type="text" value="900" /></p>
