<div class="container">
  {{> site/header}}

  <div class="panel panel-default">
    <div class="panel-heading">
     <h3 class="panel-title">Site settings</h3>
   </div>
    <div class="panel-body">
      <p>Throttling alert level: <input type="text" value="700" /></p>
      <p>Throttling block level: <input type="text" value="1000" /></p>
      <p>Blocked IPs: <input type="text" /></p>
      <p>Whitelisted IPs: <input type="text" /></p>

      <p>Monitoring frame: <input type="text" value="900" /></p>

      <p>Site Visibility: {{thisSite.meta.siteVisibility}}</p>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">
     <h3 class="panel-title">App Integration Keys</h3>
   </div>
    <div class="panel-body">
      <p><strong>Site ID:</strong> <code>{{thisSite.meta.siteId}}</code></p>
      <p><strong>Site Secret:</strong> <code>{{thisSite.meta.siteSecret}}</code></p>
      <br />
      <p>
        Integrate app using <code>siteId</code> and <code>siteSecret</code> provided above.
        <br />
        Once that's done you should see the data showing up on your site's dashboard.
      </p>
    </div>
  </div>


  <div class="panel panel-danger">
    <div class="panel-heading">
     <h3 class="panel-title">Delete site</h3>
   </div>
    <div class="panel-body">
      <p>
        <strong>Warning! This is permanent. Once you click this button this site's data will be gone forever.</strong>
      </p>

      <form action="/actions/delete-site" method="POST">
        <input type="hidden" name="siteKey" value="{{thisSite.meta.siteKey}}" />

        <label>
          Enter Site Secret here to confirm you want to delete this site:
          <input type="text" name="siteSecret" placeholder="Site Secret" />
        </label>

        <br />

        <input class="btn btn-danger" type="submit" value="Delete this site" />
      </form>

    </div>
  </div>

</div>
